p {
  color: rgb(105, 91, 71); 
  font-size: 20px;
  font-family: 'Arial';
}



.p1 + .p2 {
  color: rgb(99, 87, 70);
  font-size: 20px;
  font-family: Arial;

  
}

.p1{
  background-color: rgb(206, 189, 150);
  border: 5px solid rgb(141, 120, 90); /* fixed border syntax */
  border-radius: 40px;
  text-align: center; /* centerjustera texten om kursen */
  padding: 12px;
  display: inline-block;


}

.p2 {
  background-color: rgb(189, 171, 130);
  border: 5px solid rgb(102, 88, 68); /* fixed border syntax */
  border-radius: 40px;
  text-align: right; /* högerjustera texten om kursen */
  padding: 12px;
  display: inline-block;
}

.p3 {
  background-color: rgb(143, 129, 95);
  border: 5px solid rgb(78, 67, 52); /* fixed border syntax */
  border-radius: 40px;
  text-align: center; /* högerjustera texten om kursen */
  padding: 12px;
  display: inline-block;

}

.twerp:hover{
  position: relative;
  cursor: pointer;
  filter : blur (5px);
  opacity: 1.0;
  transition: opacity 0.5s ease-in-out;

  
}

.twerp {
  display: inline-block;
  background-color: rgb(190, 172, 131);
  border : 10 px solid  rgb(141, 120, 90);
  border-radius : 250px;
  padding: 10px;
}

.overlay{
 position: absolute;
 top: 50%; 
 left: 50%; 
 transform: translate(-50%, -50%);
 color : white;
 font-size : 20px;
 font-family: 'Arial';
 text-align : center;
 opacity : 0.5;
 transition: opacity 0.5s ease-in-out;
 
}


body {
  background-image: linear-gradient(to bottom, rgb(231, 203, 157), rgb(65, 56, 43));
  margin: 20px;
  text-align: center;

}

/* ta bort understrykning från länkar */
a {
  text-decoration: none;
  color: inherit;
}

/* ram kring text som handlar om sig  */
.about {
  border: 2px solid rgb(99, 87, 70);
  padding: 10px;
  border-radius: 8px;
  background-color: #fff8f0;
  display: inline-block; /* gör ramens bredd efter innehållet */
}

