
p {
  color: rgb(126, 109, 84); 
  font-size: 20px;
  font-family: 'Arial';
  line-height: 1.6; 
  
}


.p1 + .p2 {
  color: rgb(99, 87, 70);
  font-size: 20px;
  font-family: Arial; 
}


.p1{
  background-color: rgb(222, 203, 159);
  border: 5px solid rgb(102, 88, 68); 
  border-radius: 40px;
  text-align: center;
  padding: 12px;
  display: table;           
  margin: 12px auto;  
  line-height: 1.7;

}

.p2 {
  background-color:  rgb(222, 203, 159);
  border: 5px solid rgb(102, 88, 68); 
  border-radius: 40px;
  text-align: right;
  padding: 12px;
  display: table;
  margin: 12px auto;
  line-height: 1.8;
}

.p3 {
  background-color:  rgb(222, 203, 159);
  border: 5px solid rgb(102, 88, 68); 
  border-radius: 40px;
  text-align: center;
  padding: 12px;
  display: table;
  margin: 12px auto;
}

.prabbti{
  font-size: 20px;
  background-color:  rgb(222, 203, 159);
  border: 5px solid rgb(102, 88, 68); 
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  display: table;
  margin: 12px auto;
  line-height: 1.5;
}

.pfrog{
  background-color: rgb(222, 203, 159);
  border: 5px solid rgb(102, 88, 68); 
  border-radius: 40px;
  text-align: center; 
  padding: 12px;
  display: table;
  margin: 12px auto;
}



.twerp {
  display: inline-block;
  background-color: rgb(190, 172, 131);
  border : 10 px solid  rgb(102, 88, 68); 
  border-radius : 250px;
  padding: 10px;
}


body{ 
  background-image: linear-gradient(to bottom, rgb(231, 203, 157), rgb(65, 56, 43));
  margin: 20px;
  text-align: center;

}

/* ta bort understrykning från länkar */
a {
  text-decoration: none;
  
}

/* ram kring text som handlar om sig  */
.about {
  border: 2px solid rgb(99, 87, 70);
  padding: 10px;
  border-radius: 8px;
  background-color: #fff8f0;
  display: inline; /* gör ramens bredd efter innehållet */
  text-align:justify;
  line-height: 1.4;
}

img {
  width: 100%;
  height: 50%;
}